@import "tailwindcss";

/* Theme Variables */

@theme {
    --font-serif: "Roboto Serif", ui-serif;
    --font-sans: "Inter", ui-sans-serif;

    /* -d for Desktop View */
    /* -m for Mobile View */
    --spacing-edge-d: 2rem;
    --spacing-edge-m: 1.5rem;

    --spacing-nav: 4rem;
    --spacing-ico: 3rem;

    --radius-outer: 0.75rem;
    --radius-inner: 0.25rem;

    --color-dark-accent: #fb7519;
    --color-dark: #2c211e;
    --color-dark-2: #4c3028;
    --color-light-accent: #fa4d1b;
    --color-light: #f8d8b6;
    --color-light-2: #fbc78f;
}

/* Class Variables */

.flex-info-order {
    @apply flex-col md:odd:flex-row md:even:flex-row-reverse;
}

.p-search {
    @apply px-edge-m pt-edge-m md:px-edge-d md:pt-edge-d pb-4;
}

.text-error {
    @apply text-red-500 dark:text-red-500;
}

.text-accent {
    @apply text-light-accent dark:text-dark-accent;
}

.text-link {
    @apply text-light-accent dark:text-dark-accent font-sans font-semibold underline underline-offset-4;
}

/* Element Variables */

* {
    @apply border-black dark:border-white;
}

body {
    @apply bg-light dark:bg-dark;
}

h1 {
    @apply font-serif text-black dark:text-white;
}

h2 {
    @apply font-serif text-black dark:text-white;
}

h3 {
    @apply font-serif text-black dark:text-white;
}

h4 {
    @apply font-serif text-black dark:text-white;
}

h5 {
    @apply font-serif text-black dark:text-white;
}

h6 {
    @apply font-serif text-black dark:text-white;
}

a {
    @apply font-sans text-black dark:text-white;
}

button {
    @apply cursor-pointer text-black dark:text-white;
}

input {
    @apply font-sans;
}

label {
    @apply font-sans text-black dark:text-white;
}

p {
    @apply text-black dark:text-white;
}

/* Markdown Article Variables */

article h1 {
    @apply mt-8 mb-4 border-b pb-2 font-serif text-4xl text-black dark:text-white;
}

article h2 {
    @apply mt-8 mb-4 border-b pb-2 font-serif text-3xl text-black dark:text-white;
}

article h3 {
    @apply mt-8 mb-4 font-serif text-2xl text-black dark:text-white;
}

article h4 {
    @apply mt-8 mb-4 font-serif text-xl text-black dark:text-white;
}

article h5 {
    @apply mt-8 mb-4 font-serif text-lg text-black dark:text-white;
}

article h6 {
    @apply mt-8 mb-4 font-serif text-black dark:text-white;
}

article ul {
    @apply ml-10;
}

article li {
    @apply mb-1 list-disc text-black dark:text-white;
}

