@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

/* Theme Variables */

@theme {
    --font-serif: "Roboto Serif", ui-serif;
    --font-sans: "Inter", ui-sans-serif;

    /* -d for Desktop View */
    /* -m for Mobile View */
    --spacing-edge-d: 2rem;
    --spacing-edge-m: 1.5rem;

    --spacing-nav: 4rem;
    --spacing-ico: 3rem;

    --radius-outer: 0.75rem;
    --radius-inner: 0.25rem;

    --color-dark-accent: #fb7519;
    --color-dark: #2c211e;
    --color-dark-2: #4c3028;
    --color-light-accent: #fa4d1b;
    --color-light: #f8d8b6;
    --color-light-2: #fbc78f;
}

/* Class Variables */

.flex-info-order {
    @apply flex-col md:odd:flex-row md:even:flex-row-reverse;
}

.p-search {
    @apply px-edge-m pt-edge-m md:px-edge-d md:pt-edge-d pb-4;
}

.text-error {
    @apply text-red-500 dark:text-red-500;
}

.text-accent {
    @apply text-light-accent dark:text-dark-accent;
}

.text-link {
    @apply text-light-accent dark:text-dark-accent font-sans font-semibold underline underline-offset-4;
}

/* Element Variables */

* {
    @apply border-black dark:border-white;
}

body {
    @apply bg-[#F8D8B6] dark:bg-[#2C211E];
}

h1 {
    @apply font-serif text-[#461F08] dark:text-[#F8D8B6];
}

h2 {
    @apply font-serif text-[#461F08] dark:text-[#F8D8B6];
}

h3 {
    @apply font-serif text-[#461F08] dark:text-[#F8D8B6];
}

h4 {
    @apply font-serif text-[#461F08] dark:text-[#F8D8B6];
}

h5 {
    @apply font-serif text-[#461F08] dark:text-[#F8D8B6];
}

h6 {
    @apply font-serif text-[#461F08] dark:text-[#F8D8B6];
}

a {
    @apply text-[#461F08] dark:text-[#F8D8B6];
}

button {
    @apply cursor-pointer text-[#461F08] dark:text-[#F8D8B6];
}

input {
    @apply font-sans;
}

label {
    @apply font-sans text-[#461F08] dark:text-[#F8D8B6];
}

p {
    @apply text-[#461F08] dark:text-[#F8D8B6];
}

/* Markdown Article Variables */

article h1 {
    @apply mt-8 mb-4 border-b pb-2 font-serif text-4xl text-[#461F08] dark:text-[#F8D8B6];
}

article h2 {
    @apply mt-8 mb-4 border-b pb-2 font-serif text-3xl text-[#461F08] dark:text-[#F8D8B6];
}

article h3 {
    @apply mt-8 mb-4 font-serif text-2xl text-[#461F08] dark:text-[#F8D8B6];
}

article h4 {
    @apply mt-8 mb-4 font-serif text-xl text-[#461F08] dark:text-[#F8D8B6];
}

article h5 {
    @apply mt-8 mb-4 font-serif text-lg text-[#461F08] dark:text-[#F8D8B6];
}

article h6 {
    @apply mt-8 mb-4 font-serif text-[#461F08] dark:text-[#F8D8B6];
}

article ul {
    @apply ml-10;
}

article li {
    @apply mb-1 list-disc text-[#461F08] dark:text-[#F8D8B6];
}

/* Navbar styles */
.nav-item-box {
	@apply px-3 py-3 rounded-xl hover:bg-dark transition-all flex items-center;
}
.collapsed {
	@apply justify-center;
}
