@import "tailwindcss";

/* Theme Variables */

@theme {
    --font-serif: "Roboto Serif", ui-serif;
    --font-sans: "Inter", ui-sans-serif;

    --spacing-edge-d: 2rem;
    --spacing-edge-m: 1.5rem;
    --spacing-nav: 4rem;
    --spacing-ico: 3rem;

    --radius-outer: 0.75rem;
    --radius-inner: 0.25rem;

    --color-accent: oklch(69.6% 0.17 162.48);
    --color-dark: oklch(21% 0.006 285.885);
    --color-dark-2: oklch(29% 0.006 286.033);
    --color-light: oklch(98% 0.016 73.684);
    --color-light-2: oklch(95.4% 0.038 75.164);
}

/* Class Variables */

.flex-info-order {
    @apply flex-col md:odd:flex-row md:even:flex-row-reverse;
}

.text-error {
    @apply text-red-500 dark:text-red-500;
}

.text-link {
    @apply text-accent font-sans underline underline-offset-4;
}

/* Element Variables */

body {
    @apply bg-light dark:bg-dark;
}

h1 {
    @apply font-serif text-6xl text-black dark:text-white;
}

h2 {
    @apply font-serif text-5xl text-black dark:text-white;
}

h3 {
    @apply font-serif text-4xl text-black dark:text-white;
}

h4 {
    @apply font-serif text-3xl text-black dark:text-white;
}

h5 {
    @apply font-serif text-2xl text-black dark:text-white;
}

h6 {
    @apply font-serif text-xl text-black dark:text-white;
}

a {
    @apply font-sans text-black dark:text-white;
}

button {
    @apply cursor-pointer text-black dark:text-white;
}

input {
    @apply font-sans text-black dark:text-white;
}

label {
    @apply font-sans text-black dark:text-white;
}

p {
    @apply text-black dark:text-white;
}
